In [ ]:
#importing libraries
import pandas as pd 
import numpy as np
import matplotlib as plt
import seaborn as sns

from statsmodels.tsa.seasonal import seasonal_decomppose

SyntaxError: invalid syntax (218462844.py, line 4)

In [10]:
dfApl = pd.read_csv("/home/lydia/Downloads/yfinance_data (4)/AAPL_historical_data.csv", parse_dates=True, index_col=0)
dfAmzn = pd.read_csv("/home/lydia/Downloads/yfinance_data (4)/AMZN_historical_data.csv", parse_dates=True, index_col=0)
dfGoog = pd.read_csv("/home/lydia/Downloads/yfinance_data (4)/GOOG_historical_data.csv", parse_dates=True, index_col=0)
dfMeta = pd.read_csv("/home/lydia/Downloads/yfinance_data (4)/META_historical_data.csv", parse_dates=True, index_col=0)
dfMsft = pd.read_csv("/home/lydia/Downloads/yfinance_data (4)/MSFT_historical_data.csv", parse_dates=True, index_col=0)
dfNvda = pd.read_csv("/home/lydia/Downloads/yfinance_data (4)/NVDA_historical_data.csv", parse_dates=True, index_col=0)
dfTsla = pd.read_csv("/home/lydia/Downloads/yfinance_data (4)/TSLA_historical_data.csv", parse_dates=True, index_col=0)

In [11]:
dfApl.head()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0